name: CMSeeK
# Controls when the action will run. Workflow runs when manually triggered using the UI or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      domain:
        description: 'Domain To Scan'
        default: 'https://wordpress.org/'
        required: true
        type: string

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  CMSeeK:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.13.0-beta.3'
        cache: 'pip'
    - run: pip install -r requirements.txt

    - name: Git Clone
      run: git clone https://github.com/Tuhinshubhra/CMSeeK

    - name: Change dir
      run: cd CMSeeK
    
    - name: Run cmseek
      run: python cmseek.py -u ${{ github.event.inputs.domain }}

      
      
